### Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:
import bs4

In [ ]:
import requests

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting?at=2021-09-23")
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
player=soup.find_all('div',class_="rankings-block__container full")
player

In [ ]:
play=[]
for i in player:
        for k in i.find_all("a"):
            play.append(k.text.strip().replace("\t"," "))

In [ ]:
play

In [ ]:
play=play[1:11]
play

In [ ]:
t=soup.find_all("div",class_="rankings-block__container full")
t

In [ ]:
te=[]
for i in t:
    for j in i.find_all("div",class_="rankings-block__banner--nationality"):
        te.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("span",class_="table-body__logo-text"):
            te.append(k.text)
te

In [ ]:
te=te[0:10]
te

In [ ]:
rati=soup.find_all("div",class_="rankings-block__container full")
rati

In [ ]:
ratw=[]
for i in rati:
    for j in i.find_all("div",class_="rankings-block__banner--rating"):
        ratw.append(j.text)
        for k in i.find_all("td",class_="table-body__cell rating"):
            ratw.append(k.text)
ratw

In [ ]:
ratw=ratw[0:10]
ratw

In [62]:
import pandas as pd
jobo=pd.DataFrame({})
jobo["Name"]=play
jobo["Team"]=te
jobo["Rating"]=ratw
jobo

              Name Team Rating
0       Babar Azam  PAK    873
1      Virat Kohli  IND    844
2     Rohit Sharma  IND    813
3      Ross Taylor   NZ    801
4      Aaron Finch  AUS    779
5   Jonny Bairstow  ENG    775
6     David Warner  AUS    762
7        Shai Hope   WI    758
8  Kane Williamson   NZ    754
9  Quinton de Kock   SA    747

### Top 10 ODI bowlers along with the records of their team and rating

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [ ]:
page

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
player1=soup.find_all("div",class_="rankings-block__container full")
player1

In [ ]:
player2=[]
for i in player1:
    for j in i.find_all("a"):
        player2.append(j.text.replace("\n"," "))

In [ ]:
player2

In [ ]:
player2=player2[1:11]

In [ ]:
len(player2)

In [ ]:
team=soup.find_all("div",class_="rankings-block__container full")
team

In [ ]:
team1=[]
for i in team:
    for j in i.find_all("div",class_="rankings-block__banner--nationality"):
        team1.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("span",class_="table-body__logo-text"):
            team1.append(k.text)

In [ ]:
team1

In [ ]:
team1=team1[0:10]

In [ ]:
rating=soup.find_all("div",class_="rankings-block__container full")
rating

In [ ]:
rating1=[]
for i in rating:
    for j in i.find_all("div",class_="rankings-block__banner--rating"):
        rating1.append(j.text)
        for k in i.find_all("td",class_="table-body__cell rating"):
            rating1.append(k.text)
rating1

In [ ]:
rating1=rating1[0:10]

In [63]:
jobb=pd.DataFrame({})
jobb["Name"]=player2
jobb["Team"]=team1
jobb["Rating"]=rating1
jobb

               Name Team Rating
0       Trent Boult   NZ    737
1    Josh Hazlewood  AUS    709
2  Mujeeb Ur Rahman  AFG    708
3      Chris Woakes  ENG    700
4      Mehedi Hasan  BAN    692
5        Matt Henry   NZ    691
6    Jasprit Bumrah  IND    679
7    Mitchell Starc  AUS    652
8   Shakib Al Hasan  BAN    650
9     Kagiso Rabada   SA    646

### Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [ ]:
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
team=soup.find_all("div",class_="rankings-block__container full rankings-table")
team

In [ ]:
teams=[]
for i in team:
    for j in i.find_all("span",class_="u-hide-phablet"):
        teams.append(j.text)
    
teams

In [ ]:
teams=teams[0:10]
teams

In [ ]:
matches=soup.find_all("div",class_="rankings-block__container full rankings-table")
matches

In [ ]:
matchs=[]
li=[]
for i in matches:
    for j in i.find_all("td",class_="rankings-block__banner--matches"):
        matchs.append(j.text)
        for m in i.find_all("td",class_="rankings-block__banner--points"):
            li.append(m.text)
            for k in i.find_all("td",class_="table-body__cell u-center-text"):
                li.append(k.text)

In [ ]:
li

In [ ]:
len(li)

In [ ]:
matchesf=li[1::2]
matchesf

In [ ]:
matchs.extend(matchesf)
matchs

In [ ]:
matchs=matchs[0:10]
matchs

In [ ]:
points=li[::2]
points

In [ ]:
points=points[0:10]
points

In [ ]:
ratingnew=soup.find_all("div",class_="rankings-block__container full rankings-table")
ratingnew

In [ ]:
rat=[]
for i in ratingnew:
    for j in i.find_all("td",class_="rankings-block__banner--rating u-text-right"):
        rat.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("td",class_="table-body__cell u-text-right rating"):
            rat.append(k.text)
rat

In [ ]:
rat=rat[0:10]

In [ ]:
jobl=pd.DataFrame({})
jobl["Team"]=teams
jobl["match"]=matchs
jobl["points"]=points
jobl["rating"]=rat

In [64]:
jobl

           Team match points rating
0   New Zealand    17  2,054    121
1       England    32  3,793    119
2     Australia    28  3,244    116
3         India    32  3,624    113
4  South Africa    25  2,459     98
5      Pakistan    27  2,524     93
6    Bangladesh    30  2,740     91
7   West Indies    30  2,523     84
8     Sri Lanka    32  2,657     83
9   Afghanistan    17  1,054     62