### Top 10 women’s ODI all-rounder along with the records of their team and rating

In [ ]:
import bs4
from bs4 import BeautifulSoup
import requests

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
new=soup.find_all("div",class_="rankings-block__container full")

In [ ]:
new

In [ ]:
name=[]
for i in new:
    for j in i.find_all("a"):
        name.append(j.text.replace("\n"," "))

In [ ]:
name

In [ ]:
name=name[1:11]
name

In [ ]:
team=soup.find_all("div",class_="rankings-block__container full")
team

In [ ]:
teams=[]
for i in team:
    for j in i.find_all("div",class_="rankings-block__banner--nationality"):
        teams.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("span",class_="table-body__logo-text"):
            teams.append(k.text)

In [ ]:
teams

In [ ]:
teams=teams[0:10]
teams

In [ ]:
rank=soup.find_all("div",class_="rankings-block__container full")
rank

In [ ]:
ranking=[]
for i in rank:
    for j in i.find_all("div",class_="rankings-block__banner--rating"):
        ranking.append(j.text)
        for k in i.find_all("td",class_="table-body__cell rating"):
            ranking.append(k.text)

In [ ]:
ranking

In [ ]:
ranking=ranking[0:10]
ranking

In [ ]:
import pandas as pd
job=pd.DataFrame({})
job["Name"]=name
job["Team"]=teams
job["Rank"]=ranking

In [65]:
job

               Name Team Rank
0      Ellyse Perry  AUS  418
1    Marizanne Kapp   SA  384
2    Natalie Sciver  ENG  380
3     Deepti Sharma  IND  331
4   Stafanie Taylor   WI  322
5     Jess Jonassen  AUS  307
6  Dane van Niekerk   SA  274
7     Sophie Devine   NZ  254
8   Katherine Brunt  ENG  254
9  Ashleigh Gardner  AUS  252

### Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
names1=soup.find_all("div",class_="rankings-block__container full rankings-table")
names1

In [ ]:
names2=[]
for i in names1:
    for j in i.find_all("span",class_="u-hide-phablet"):
        names2.append(j.text)

In [ ]:
names2

In [ ]:
match=soup.find_all("div",class_="rankings-block__container full rankings-table")
match

In [ ]:
matches=[]
li=[]

for i in match:
    for j in i.find_all("td",class_="rankings-block__banner--matches"):
        matches.append(j.text)
        for m in i.find_all("td",class_="rankings-block__banner--points"):
            li.append(m.text)
            for k in i.find_all("td",class_="table-body__cell u-center-text"):
                li.append(k.text)

In [ ]:
li

In [ ]:
matches1=li[1::2]
matches1

In [ ]:
matches.extend(matches1)

In [ ]:
matches

In [ ]:
points=li[::2]

In [ ]:
points

In [ ]:
rate=soup.find_all("div",class_="rankings-block__container full rankings-table")
rate

In [ ]:
rate1=[]
for i in rate:
    for j in i.find_all("td",class_="rankings-block__banner--rating u-text-right"):
        rate1.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("td",class_="table-body__cell u-text-right rating"):
            rate1.append(k.text)

In [ ]:
rate1

In [ ]:
jobf=pd.DataFrame({})
jobf["Name"]=names2
jobf["Match"]=matches
jobf["Points"]=points
jobf["Rating"]=rate1

In [66]:
jobf

           Name Match Points Rating
0     Australia    19  3,129    165
1       England    24  2,840    118
2  South Africa    29  3,390    117
3         India    24  2,635    110
4   New Zealand    25  2,324     93
5   West Indies    22  1,872     85
6      Pakistan    20  1,496     75
7    Bangladesh     5    306     61
8     Sri Lanka    11    519     47
9       Ireland     2     25     13

### Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
name3=soup.find_all("div",class_="rankings-block__container full")
name3

In [ ]:
name4=[]
for i in name3:
    for j in i.find_all("a"):
        name4.append(j.text.replace("\n"," "))

In [ ]:
name4

In [ ]:
namef=name4[1:11]

In [ ]:
namef

In [ ]:
team5=soup.find_all("div",class_="rankings-block__container full")
team5

In [ ]:
teamsf=[]
for i in team5:
    for j in i.find_all("div",class_="rankings-block__banner--nationality"):
        teamsf.append(j.text.strip().replace("\n"," "))
        for k in i.find_all("span",class_="table-body__logo-text"):
            teamsf.append(k.text)

In [ ]:
teamsf

In [ ]:
teamsf=teamsf[0:10]

In [ ]:
teamsf

In [ ]:
ratq=soup.find_all("div",class_="rankings-block__container full")
ratq

In [ ]:
ratew=[]
for i in ratq:
    for j in i.find_all("div",class_="rankings-block__banner--rating"):
        ratew.append(j.text)
        for k in i.find_all("td",class_="table-body__cell rating"):
            ratew.append(k.text)

In [ ]:
ratew

In [ ]:
ratew=ratew[0:10]

In [ ]:
ratew

In [ ]:
jobbh=pd.DataFrame({})
jobbh["Name"]=namef
jobbh["Team"]=teamsf
jobbh["Rating"]=ratew

In [67]:
jobbh

                Name Team Rating
0        Mithali Raj  IND    762
1        Lizelle Lee   SA    761
2       Alyssa Healy  AUS    756
3     Tammy Beaumont  ENG    740
4  Amy Satterthwaite   NZ    726
5        Meg Lanning  AUS    723
6    Smriti Mandhana  IND    701
7       Ellyse Perry  AUS    679
8    Laura Wolvaardt   SA    672
9     Natalie Sciver  ENG    672