### Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,rating, Year).

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
page=requests.get("https://www.imdb.com/chart/top/")

In [ ]:
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
rating=soup.find_all('td',class_="ratingColumn imdbRating")
rating

In [ ]:
ratings=[]
for i in rating:
        ratings.append(i.text.replace("\n"," "))
        
ratings

In [ ]:
ratings=ratings[0:100]

In [ ]:
len(ratings)

In [ ]:
year=soup.find_all('span',class_="secondaryInfo")
year

In [ ]:
years=[]
for i in year:
    years.append(i.text)
years

In [ ]:
years=years[0:100]

In [ ]:
len(years)

In [ ]:
head=soup.find_all('td',class_="titleColumn")
head

In [ ]:
heads=[]
for i in head:
    for j in i.find_all("a"):
        heads.append(j.text)

In [ ]:
heads

In [ ]:
heads=heads[0:100]

In [ ]:
len(heads)

In [ ]:
import pandas as pd
job=pd.DataFrame({})
job["Name"]=heads
job["IMDB_rating"]=ratings
job["Year of Release"]=years

In [84]:
job

                        Name IMDB_rating Year of Release
0   The Shawshank Redemption        9.2           (1994)
1              The Godfather        9.1           (1972)
2     The Godfather: Part II        9.0           (1974)
3            The Dark Knight        9.0           (2008)
4               12 Angry Men        8.9           (1957)
..                       ...         ...             ...
95                      Dune        8.3           (2021)
96       Requiem for a Dream        8.3           (2000)
97       Singin' in the Rain        8.3           (1952)
98        North by Northwest        8.3           (1959)
99           Pather Panchali        8.3           (1955)

[100 rows x 3 columns]

### Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name,rating,Year).

In [ ]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [ ]:
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
print(soup.prettify())

In [ ]:
rate=soup.find_all('td',class_="ratingColumn imdbRating")
rate

In [ ]:
rates=[]
for i in rate:
    rates.append(i.text.replace("\n"," "))
rates

In [ ]:
rates=rates[0:100]
len(rates)

In [ ]:
yearn=soup.find_all('span',class_="secondaryInfo")
yearn

In [ ]:
yearns=[]
for i in yearn:
    yearns.append(i.text)
yearns

In [ ]:
yearns=yearns[0:100]
len(yearns)

In [ ]:
name=soup.find_all('td',class_="titleColumn")
name

In [ ]:
names=[]
for i in name:
    for j in i.find_all("a"):
        names.append(j.text)
names

In [ ]:
names=names[0:100]
len(names)

In [ ]:
newjob=pd.DataFrame({})
newjob["Name"]=names
newjob["year"]=yearns
newjob["Rating"]=rates

In [85]:
newjob

                                 Name    year Rating
0                             Nayakan  (1987)   8.5
1                          Anbe Sivam  (2003)   8.5
2                   Pariyerum Perumal  (2018)   8.5
3                   C/o Kancharapalem  (2018)   8.5
4                             Golmaal  (1979)   8.5
..                                ...     ...    ...
95                    Rang De Basanti  (2006)   8.1
96                    OMG: Oh My God!  (2012)   8.1
97                               Roja  (1992)   8.1
98           Uri: The Surgical Strike  (2019)   8.1
99  Lagaan: Once Upon a Time in India  (2001)   8.1

[100 rows x 3 columns]

In [ ]:
newjob.shape