In [1]:
#importing the required libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
from selenium.webdriver.common.by import By

In [391]:
#connecting with the drivers
driver=webdriver.Chrome(r"C:\Users\MICROSOFT\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [3]:
#extracting data from yarta.com for flight details of delhi to dubai
driver.get("https://flight.yatra.com/air-search-ui/seoint/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=&destination=DXB&preferred=&destinationCountry=&flight_depart_date=24/02/2022&ADT=1&CHD=0&INF=0&class=Economy&source=seo")

In [4]:
flightname=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='text i-b']")
for i in name:
    flightname.append(i.text)

In [5]:
flightname[:5]

['SpiceJet', 'Air India', 'IndiGo', 'SpiceJet', 'Air India']

In [6]:
len(flightname)

84

In [7]:
time=[] #departure time
tim=driver.find_elements_by_xpath("//p[@class='fs-16 bold mb-2 time']")
for i in tim:
    time.append(i.text)

In [8]:
time[:5]

['DEL 07:20', '', '', '', 'DEL 14:30']

In [9]:
time1=list(filter(None, time))

In [10]:
time1[:5]

['DEL 07:20', 'DEL 14:30', 'DEL 19:10', 'DEL 23:10', 'DEL 20:30']

In [11]:
len(time1)

84

In [12]:
artime=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-16 mb-2 pr time']")
for i in ar:
    artime.append(i.text.replace("\n"," "))

In [13]:
artime[:5]

['00:30RKT +1 Day', '', '', '', '18:40AUH']

In [14]:
artime1=list(filter(None, artime))

In [15]:
artime1[:5]

['00:30RKT +1 Day', '18:40AUH', '21:00SHJ', '01:30RKT +1 Day', '22:45DXB']

In [16]:
len(artime1)

84

In [17]:
source1=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-11 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source1.append(i.text)

In [18]:
source=source1[::2]
source[:5]

['New Delhi', '', '', '', 'New Delhi']

In [19]:
source=list(filter(None,source))
source[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [20]:
destination=source1[1::2] #destination place
destination[:5]

['Ras Al Khaimah', '', '', '', 'Abu Dhabi']

In [21]:
destination=list(filter(None,destination))
destination[:5]

['Ras Al Khaimah', 'Abu Dhabi', 'Sharjah', 'Ras Al Khaimah', 'Dubai']

In [22]:
duration=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration.append(i.text)

In [23]:
duration[:5]

['18h 40m', '', '', '', '5h 40m']

In [24]:
duration1=list(filter(None,duration))
duration1[:5]

['18h 40m', '5h 40m', '3h 20m', '3h 50m', '3h 45m']

In [25]:
len(duration1)

84

In [26]:
stop=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class='pl-10 stop-cont']/div/span")
for i in st:
    stop.append(i.text)

In [27]:
stop[:5]

['1 Stop', '', '', '', '1 Stop']

In [28]:
stop1=list(filter(None, stop))
stop1[:5]

['1 Stop', '1 Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [29]:
len(stop1)

84

In [30]:
price=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='mb-10 fs-20 bold lh-1 cursor-pointer']")
for i in pr:
    price.append(i.text)

In [31]:
price[:5]

['8,946', '10,551', '11,324', '11,346', '12,158']

In [45]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date1=[]
while(list_count<86):
    
   
    if(list_count>86):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date1.append(i.text)

In [46]:
len(date1)

84

In [47]:
job=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job['Airline']=flightname
job['Source']=source
job['Date of Journey']=date1
job['Destination']=destination
job['Departure']=time1
job['Arrival']=artime1
job['Duration']=duration1
job['Stops']=stop1
job['Price']=price
job

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,New Delhi,"Thu, 24 Feb 2022",Ras Al Khaimah,DEL 07:20,00:30RKT +1 Day,18h 40m,1 Stop,"8,946"
1,Air India,New Delhi,"Thu, 24 Feb 2022",Abu Dhabi,DEL 14:30,18:40AUH,5h 40m,1 Stop,"10,551"
2,IndiGo,New Delhi,"Thu, 24 Feb 2022",Sharjah,DEL 19:10,21:00SHJ,3h 20m,Non Stop,"11,324"
3,SpiceJet,New Delhi,"Thu, 24 Feb 2022",Ras Al Khaimah,DEL 23:10,01:30RKT +1 Day,3h 50m,Non Stop,"11,346"
4,Air India,New Delhi,"Thu, 24 Feb 2022",Dubai,DEL 20:30,22:45DXB,3h 45m,Non Stop,"12,158"
...,...,...,...,...,...,...,...,...,...
79,Virgin Atlantic,New Delhi,"Thu, 24 Feb 2022",Abu Dhabi,DEL 04:05,23:05AUH,20h 30m,1 Stop,"2,07,293"
80,Biman Bangladesh Airline,New Delhi,"Thu, 24 Feb 2022",Sharjah,DEL 15:45,02:15SHJ +1 Day,12h 00m,1 Stop,"2,08,435"
81,Lufthansa,New Delhi,"Thu, 24 Feb 2022",Abu Dhabi,DEL 03:35,22:35AUH,20h 30m,1 Stop,"3,61,847"
82,Lufthansa,New Delhi,"Thu, 24 Feb 2022",Dubai,DEL 03:35,22:45DXB,20h 40m,1 Stop,"3,86,951"
83,Lufthansa,New Delhi,"Thu, 24 Feb 2022",Abu Dhabi,DEL 03:35,22:35AUH,20h 30m,1 Stop,"4,30,760"

In [48]:
#extracting data from yatra.com for location mumbai to chennai
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=MAA&destinationCountry=IN&flight_depart_date=08%2F03%2F2022&ADT=1&CHD=0&INF=0&preferred=&class=Economy&source=seo")

In [51]:
flightname1=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname1.append(i.text)

In [54]:
flightname1[:5]

['SpiceJet', 'SpiceJet', 'Go First', 'IndiGo', 'IndiGo']

In [55]:
len(flightname1)

106

In [61]:
time2=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time2.append(i.text)

In [62]:
time2[:5]

['19:30', '06:00', '05:50', '16:25', '21:25']

In [63]:
len(time2)

106

In [64]:
artime2=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime2.append(i.text.replace("\n"," "))

In [67]:
artime2[:5]

['21:20', '08:00', '07:40', '18:15', '23:15']

In [66]:
len(artime2)

106

In [68]:
source2=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source2.append(i.text)

In [70]:
source3=source2[::2] #from where the flight takes off
source3[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [71]:
destination=source2[1::2] #destination place
destination[:5]

['Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']

In [72]:
duration1=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration1.append(i.text)

In [74]:
duration1[:5]

['1h 50m', '2h 00m', '1h 50m', '1h 50m', '1h 50m']

In [75]:
len(duration1)

106

In [76]:
stop2=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop2.append(i.text)

In [78]:
stop2[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [79]:
len(stop2)

106

In [81]:
price1=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price1.append(i.text)

In [83]:
price1[:5]

['1,888', '1,888', '1,890', '1,890', '1,890']

In [84]:
len(price1)

106

In [87]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date2=[]
while(list_count<108):
    
   
    if(list_count>108):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date2.append(i.text)

In [92]:
date3=date2[0:106]

In [93]:
len(date3)

106

In [95]:
job1=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job1['Airline']=flightname1
job1['Source']=source3
job1['Date of Journey']=date3
job1['Destination']=destination
job1['Departure']=time2
job1['Arrival']=artime2
job1['Duration']=duration1
job1['Stops']=stop2
job1['Price']=price1
job1

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,"Tue, 8 Mar 2022",Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
101,Air India,Mumbai,"Tue, 8 Mar 2022",Chennai,07:55,23:35,15h 40m,2 Stop(s),"7,868"
102,Air India,Mumbai,"Tue, 8 Mar 2022",Chennai,07:55,08:55 + 1 day,25h 00m,2 Stop(s),"7,868"
103,Air India,Mumbai,"Tue, 8 Mar 2022",Chennai,07:55,08:55 + 1 day,25h 00m,2 Stop(s),"7,868"
104,Air India,Mumbai,"Tue, 8 Mar 2022",Chennai,07:55,12:40 + 1 day,28h 45m,2 Stop(s),"7,868"
105,Air India,Mumbai,"Tue, 8 Mar 2022",Chennai,07:55,12:40 + 1 day,28h 45m,2 Stop(s),"7,868"

In [96]:
#extracting the information form yatra.com for banaglore to kolkata
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BLR&originCountry=IN&destination=CCU&destinationCountry=IN&flight_depart_date=18%2F03%2F2022&ADT=1&CHD=0&INF=0&preferred=&class=Economy&source=seo")

In [97]:
flightname2=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname2.append(i.text)

In [98]:
flightname[:5]

['SpiceJet', 'Air India', 'IndiGo', 'SpiceJet', 'Air India']

In [99]:
len(flightname2)

120

In [100]:
time3=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time3.append(i.text)

In [101]:
time3[:5]

['07:30', '22:50', '22:50', '07:35', '06:10']

In [102]:
len(time3)

120

In [103]:
artime3=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime3.append(i.text.replace("\n"," "))

In [105]:
artime3[:5]

['12:30', '07:55 + 1 day', '12:30 + 1 day', '12:55', '13:20']

In [106]:
len(artime3)

120

In [107]:
source4=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source4.append(i.text)

In [109]:
source5=source4[::2]
source5[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [110]:
len(source5)

120

In [112]:
destination1=source4[1::2]
destination1[:5]

['Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata']

In [113]:
len(destination1)

120

In [114]:
duration2=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration2.append(i.text)

In [115]:
duration2[:5]

['5h 00m', '9h 05m', '13h 40m', '5h 20m', '7h 10m']

In [116]:
len(duration2)

120

In [117]:
stop3=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop3.append(i.text)

In [118]:
stop3[:5]

['1 Stop', '1 Stop', '1 Stop', '1 Stop', '1 Stop']

In [119]:
len(stop3)

120

In [120]:
price2=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price2.append(i.text)

In [122]:
price2[:5]

['2,648', '2,648', '2,648', '2,674', '2,700']

In [123]:
len(price2)

120

In [124]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date4=[]
while(list_count<125):
    
   
    if(list_count>125):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date4.append(i.text)

In [127]:
date5=date4[0:120]

In [128]:
len(date5)

120

In [129]:
job2=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job2['Airline']=flightname2
job2['Source']=source5
job2['Date of Journey']=date5
job2['Destination']=destination1
job2['Departure']=time3
job2['Arrival']=artime3
job2['Duration']=duration2
job2['Stops']=stop3
job2['Price']=price2
job2

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,Bangalore,"Fri, 18 Mar 2022",Kolkata,07:30,12:30,5h 00m,1 Stop,"2,648"
1,Go First,Bangalore,"Sat, 19 Mar 2022",Kolkata,22:50,07:55 + 1 day,9h 05m,1 Stop,"2,648"
2,Go First,Bangalore,"Fri, 18 Mar 2022",Kolkata,22:50,12:30 + 1 day,13h 40m,1 Stop,"2,648"
3,Air Asia,Bangalore,"Sat, 19 Mar 2022",Kolkata,07:35,12:55,5h 20m,1 Stop,"2,674"
4,IndiGo,Bangalore,"Fri, 18 Mar 2022",Kolkata,06:10,13:20,7h 10m,1 Stop,"2,700"
...,...,...,...,...,...,...,...,...,...
115,IndiGo,Bangalore,"Sat, 19 Mar 2022",Kolkata,17:20,22:25,5h 05m,1 Stop,"7,973"
116,IndiGo,Bangalore,"Fri, 18 Mar 2022",Kolkata,10:45,18:40,7h 55m,1 Stop,"8,360"
117,IndiGo,Bangalore,"Sat, 19 Mar 2022",Kolkata,10:45,20:40,9h 55m,1 Stop,"8,360"
118,IndiGo,Bangalore,"Fri, 18 Mar 2022",Kolkata,10:45,20:55,10h 10m,1 Stop,"9,265"
119,Vistara,Bangalore,"Sat, 19 Mar 2022",Kolkata,11:30,19:35,8h 05m,2 Stop(s),"12,962"

In [131]:
#extracting data for mumbai to new delhi flights from yatra.com
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=23%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=193016882954&version=1.1&viewName=normal")

In [136]:
flightname3=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname3.append(i.text)

In [137]:
flightname3[:5]

['Air Asia', 'SpiceJet', 'SpiceJet', 'SpiceJet', 'SpiceJet']

In [138]:
len(flightname3)

137

In [139]:
time4=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time4.append(i.text)

In [140]:
time4[:5]

['22:55', '21:45', '07:20', '10:15', '19:25']

In [141]:
len(time4)

137

In [142]:
artime4=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime4.append(i.text.replace("\n"," "))

In [143]:
artime4[:5]

['01:00 + 1 day', '23:55', '09:35', '12:30', '21:50']

In [144]:
len(artime4)

137

In [145]:
source6=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source6.append(i.text)

In [146]:
source7=source6[::2]
source7[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [148]:
destination2=source6[1::2]
destination2[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [149]:
duration3=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration3.append(i.text)

In [150]:
duration3[:5]

['2h 05m', '2h 10m', '2h 15m', '2h 15m', '2h 25m']

In [151]:
len(duration3)

137

In [152]:
stop4=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop4.append(i.text)

In [153]:
stop4[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [154]:
len(stop4)

137

In [155]:
price3=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price3.append(i.text)

In [157]:
price3[:5]

['2,322', '2,337', '2,337', '2,337', '2,337']

In [156]:
len(price3)

137

In [158]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date6=[]
while(list_count<140):
    
   
    if(list_count>140):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date6.append(i.text)

In [160]:
date7=date6[0:137]

In [161]:
len(date7)

137

In [162]:
job3=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job3['Airline']=flightname3
job3['Source']=source7
job3['Date of Journey']=date7
job3['Destination']=destination2
job3['Departure']=time4
job3['Arrival']=artime4
job3['Duration']=duration3
job3['Stops']=stop4
job3['Price']=price3
job3

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Air Asia,Mumbai,"Wed, 23 Mar 2022",New Delhi,22:55,01:00 + 1 day,2h 05m,Non Stop,"2,322"
1,SpiceJet,Mumbai,"Wed, 23 Mar 2022",New Delhi,21:45,23:55,2h 10m,Non Stop,"2,337"
2,SpiceJet,Mumbai,"Wed, 23 Mar 2022",New Delhi,07:20,09:35,2h 15m,Non Stop,"2,337"
3,SpiceJet,Mumbai,"Wed, 23 Mar 2022",New Delhi,10:15,12:30,2h 15m,Non Stop,"2,337"
4,SpiceJet,Mumbai,"Wed, 23 Mar 2022",New Delhi,19:25,21:50,2h 25m,Non Stop,"2,337"
...,...,...,...,...,...,...,...,...,...
132,Go First,Mumbai,"Wed, 23 Mar 2022",New Delhi,15:20,20:20,5h 00m,1 Stop,"5,938"
133,Go First,Mumbai,"Wed, 23 Mar 2022",New Delhi,17:45,23:15,5h 30m,1 Stop,"5,984"
134,Go First,Mumbai,"Wed, 23 Mar 2022",New Delhi,10:40,17:35,6h 55m,1 Stop,"6,031"
135,Go First,Mumbai,"Wed, 23 Mar 2022",New Delhi,11:20,18:00,6h 40m,1 Stop,"6,867"
136,Go First,Mumbai,"Wed, 23 Mar 2022",New Delhi,11:20,19:00,7h 40m,1 Stop,"6,867"

In [163]:
#extracting data from yatra.com for chennai to mumbai
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=23%2F03%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1628542938243&version=1.1&viewName=normal")

In [164]:
flightname4=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname4.append(i.text)

In [165]:
flightname4[:5]

['SpiceJet', 'SpiceJet', 'Air India', 'Go First', 'IndiGo']

In [166]:
len(flightname4)

111

In [167]:
time5=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time5.append(i.text)

In [168]:
time5[:5]

['06:25', '21:50', '06:20', '05:00', '09:40']

In [169]:
artime5=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime5.append(i.text.replace("\n"," "))

In [171]:
artime5[:5]

['08:20', '23:50', '08:05', '06:50', '11:35']

In [172]:
len(artime5)

111

In [174]:
source8=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source8.append(i.text)

In [175]:
source9=source8[::2]
source9[:5]

['Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']

In [178]:
destination3=source8[1::2]
destination3[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [179]:
duration4=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration4.append(i.text)

In [181]:
duration4[:5]

['1h 55m', '2h 00m', '1h 45m', '1h 50m', '1h 55m']

In [182]:
stop5=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop5.append(i.text)

In [183]:
stop5[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [184]:
price4=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price4.append(i.text)

In [185]:
price4[:5]

['1,828', '1,828', '1,830', '1,830', '1,830']

In [186]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date8=[]
while(list_count<114):
    
   
    if(list_count>114):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date8.append(i.text)

In [189]:
date9=date8[0:111]

In [190]:
len(date9)

111

In [192]:
job4=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job4['Airline']=flightname4
job4['Source']=source9
job4['Date of Journey']=date9
job4['Destination']=destination3
job4['Departure']=time5
job4['Arrival']=artime5
job4['Duration']=duration4
job4['Stops']=stop5
job4['Price']=price4
job4

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Chennai,"Wed, 23 Mar 2022",Mumbai,06:25,08:20,1h 55m,Non Stop,"1,828"
1,SpiceJet,Chennai,"Wed, 23 Mar 2022",Mumbai,21:50,23:50,2h 00m,Non Stop,"1,828"
2,Air India,Chennai,"Wed, 23 Mar 2022",Mumbai,06:20,08:05,1h 45m,Non Stop,"1,830"
3,Go First,Chennai,"Wed, 23 Mar 2022",Mumbai,05:00,06:50,1h 50m,Non Stop,"1,830"
4,IndiGo,Chennai,"Wed, 23 Mar 2022",Mumbai,09:40,11:35,1h 55m,Non Stop,"1,830"
...,...,...,...,...,...,...,...,...,...
106,Vistara,Chennai,"Wed, 23 Mar 2022",Mumbai,06:55,18:20,11h 25m,2 Stop(s),"6,802"
107,Vistara,Chennai,"Wed, 23 Mar 2022",Mumbai,10:45,20:15,9h 30m,2 Stop(s),"6,893"
108,Vistara,Chennai,"Wed, 23 Mar 2022",Mumbai,10:45,20:45,10h 00m,2 Stop(s),"6,893"
109,Vistara,Chennai,"Wed, 23 Mar 2022",Mumbai,10:45,21:50,11h 05m,2 Stop(s),"6,893"
110,Vistara,Chennai,"Wed, 23 Mar 2022",Mumbai,10:45,21:50,11h 05m,2 Stop(s),"6,893"

In [193]:
#extracting data from yatra.com for delhi to kolkata
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=24%2F03%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=89623795735&version=1.1&viewName=normal")

In [194]:
flightname5=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname5.append(i.text)

In [195]:
len(flightname5)

135

In [196]:
time6=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time6.append(i.text)

In [197]:
time6[:5]

['20:50', '05:50', '23:30', '19:25', '13:15']

In [198]:
artime6=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime6.append(i.text.replace("\n"," "))

In [199]:
artime6[:5]

['23:00', '08:00', '01:40 + 1 day', '21:45', '17:25']

In [200]:
source10=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source10.append(i.text)

In [202]:
source11=source10[::2]
source11[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [204]:
destination4=source10[1::2]
destination4[:5]

['Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata']

In [205]:
duration5=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration5.append(i.text)

In [206]:
duration5[:5]

['2h 10m', '2h 10m', '2h 10m', '2h 20m', '4h 10m']

In [207]:
stop6=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop6.append(i.text)

In [208]:
stop6[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', '1 Stop']

In [209]:
price5=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price5.append(i.text)

In [210]:
price5[:5]

['2,479', '2,480', '2,480', '2,480', '2,480']

In [211]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date10=[]
while(list_count<136):
    
   
    if(list_count>136):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date10.append(i.text)

In [212]:
date11=date10[0:135]

In [213]:
job5=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job5['Airline']=flightname5
job5['Source']=source11
job5['Date of Journey']=date11
job5['Destination']=destination4
job5['Departure']=time6
job5['Arrival']=artime6
job5['Duration']=duration5
job5['Stops']=stop6
job5['Price']=price5
job5

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,New Delhi,"Thu, 24 Mar 2022",Kolkata,20:50,23:00,2h 10m,Non Stop,"2,479"
1,Go First,New Delhi,"Thu, 24 Mar 2022",Kolkata,05:50,08:00,2h 10m,Non Stop,"2,480"
2,IndiGo,New Delhi,"Thu, 24 Mar 2022",Kolkata,23:30,01:40 + 1 day,2h 10m,Non Stop,"2,480"
3,Go First,New Delhi,"Thu, 24 Mar 2022",Kolkata,19:25,21:45,2h 20m,Non Stop,"2,480"
4,IndiGo,New Delhi,"Thu, 24 Mar 2022",Kolkata,13:15,17:25,4h 10m,1 Stop,"2,480"
...,...,...,...,...,...,...,...,...,...
130,Air India,New Delhi,"Thu, 24 Mar 2022",Kolkata,04:55,08:50 + 1 day,27h 55m,2 Stop(s),"9,181"
131,Air India,New Delhi,"Thu, 24 Mar 2022",Kolkata,04:55,12:10 + 1 day,31h 15m,3 Stop(s),"9,181"
132,SpiceJet,New Delhi,"Thu, 24 Mar 2022",Kolkata,09:25,14:20,4h 55m,1 Stop,"16,050"
133,SpiceJet,New Delhi,"Thu, 24 Mar 2022",Kolkata,09:25,17:25,8h 00m,1 Stop,"16,050"
134,SpiceJet,New Delhi,"Thu, 24 Mar 2022",Kolkata,13:05,14:20 + 1 day,25h 15m,1 Stop,"16,050"

In [214]:
#extracting information from yatra.com from chandigarh to new delhi
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=19%2F03%2F2022&hb=0&noOfSegments=1&origin=IXC&originCountry=IN&type=O&unique=309040272100&version=1.1&viewName=normal")

In [215]:
flightname6=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname6.append(i.text)

In [216]:
len(flightname6)

72

In [217]:
time7=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time7.append(i.text)

In [218]:
time7[:5]

['06:45', '15:45', '18:30', '13:05', '18:50']

In [219]:
artime7=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime7.append(i.text.replace("\n"," "))

In [220]:
artime7[:5]

['07:40', '16:45', '19:30', '14:10', '19:50']

In [221]:
source12=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source12.append(i.text)

In [222]:
source13=source12[::2]
source13[:5]

['Chandigarh', 'Chandigarh', 'Chandigarh', 'Chandigarh', 'Chandigarh']

In [223]:
destination4=source12[1::2]
destination4[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [224]:
duration6=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration6.append(i.text)

In [225]:
duration6[:5]

['0h 55m', '1h 00m', '1h 00m', '1h 05m', '1h 00m']

In [226]:
stop7=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop7.append(i.text)

In [227]:
stop7[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [228]:
price6=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price6.append(i.text)

In [229]:
price6[:5]

['1,804', '1,804', '1,804', '1,804', '1,815']

In [230]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date12=[]
while(list_count<136):
    
   
    if(list_count>136):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date12.append(i.text)

In [232]:
date13=date12[0:72]

In [233]:
len(date13)

72

In [235]:
job6=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job6['Airline']=flightname6
job6['Source']=source13
job6['Date of Journey']=date13
job6['Destination']=destination4
job6['Departure']=time7
job6['Arrival']=artime7
job6['Duration']=duration6
job6['Stops']=stop7
job6['Price']=price6
job6

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,IndiGo,Chandigarh,"Sat, 19 Mar 2022",New Delhi,06:45,07:40,0h 55m,Non Stop,"1,804"
1,IndiGo,Chandigarh,"Sat, 19 Mar 2022",New Delhi,15:45,16:45,1h 00m,Non Stop,"1,804"
2,IndiGo,Chandigarh,"Sat, 19 Mar 2022",New Delhi,18:30,19:30,1h 00m,Non Stop,"1,804"
3,IndiGo,Chandigarh,"Sat, 19 Mar 2022",New Delhi,13:05,14:10,1h 05m,Non Stop,"1,804"
4,Vistara,Chandigarh,"Sat, 19 Mar 2022",New Delhi,18:50,19:50,1h 00m,Non Stop,"1,815"
...,...,...,...,...,...,...,...,...,...
67,Vistara,Chandigarh,"Sat, 19 Mar 2022",New Delhi,15:10,23:45,8h 35m,1 Stop,"7,130"
68,Go First,Chandigarh,"Sat, 19 Mar 2022",New Delhi,17:20,20:30,3h 10m,1 Stop,"7,514"
69,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,14:25,15:25,1h 00m,Non Stop,"7,842"
70,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,10:15,17:15 + 1 day,31h 00m,2 Stop(s),"8,498"
71,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,08:10,09:50 + 1 day,25h 40m,1 Stop,"29,147"

In [236]:
frames=[job1,job2,job3,job4,job5,job6]
df=pd.concat(frames)
df #concatinating frames in one frame

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,"Tue, 8 Mar 2022",Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
67,Vistara,Chandigarh,"Sat, 19 Mar 2022",New Delhi,15:10,23:45,8h 35m,1 Stop,"7,130"
68,Go First,Chandigarh,"Sat, 19 Mar 2022",New Delhi,17:20,20:30,3h 10m,1 Stop,"7,514"
69,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,14:25,15:25,1h 00m,Non Stop,"7,842"
70,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,10:15,17:15 + 1 day,31h 00m,2 Stop(s),"8,498"
71,Air India,Chandigarh,"Sat, 19 Mar 2022",New Delhi,08:10,09:50 + 1 day,25h 40m,1 Stop,"29,147"

In [239]:
#extracting data from yatra.com from bangalore to new delhi
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=24%2F03%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=602165982252&version=1.1&viewName=normal")

In [241]:
flightname7=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname7.append(i.text)

In [242]:
len(flightname7)

165

In [243]:
time8=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time8.append(i.text)

In [244]:
time8[:5]

['17:15', '20:15', '11:20', '17:15', '11:20']

In [245]:
artime8=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime8.append(i.text.replace("\n"," "))

In [246]:
artime8[:5]

['22:40', '02:05 + 1 day', '18:30', '02:05 + 1 day', '22:40']

In [247]:
source14=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source14.append(i.text)

In [249]:
source15=source14[::2]
source15[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [261]:
destination5=source14[1::2]
destination5[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [251]:
duration7=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration7.append(i.text)

In [252]:
duration7[:5]

['5h 25m', '5h 50m', '7h 10m', '8h 50m', '11h 20m']

In [253]:
stop8=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop8.append(i.text)

In [254]:
stop8[:5]

['1 Stop', '1 Stop', '1 Stop', '1 Stop', '1 Stop']

In [255]:
price7=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price7.append(i.text)

In [256]:
price7[:5]

['2,356', '2,356', '2,356', '2,356', '2,356']

In [258]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date14=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date14.append(i.text)

In [259]:
date15=date14[0:165]

In [262]:
job7=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job7['Airline']=flightname7
job7['Source']=source15
job7['Date of Journey']=date15
job7['Destination']=destination5
job7['Departure']=time8
job7['Arrival']=artime8
job7['Duration']=duration7
job7['Stops']=stop8
job7['Price']=price7
job7

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,IndiGo,Bangalore,"Thu, 24 Mar 2022",New Delhi,17:15,22:40,5h 25m,1 Stop,"2,356"
1,IndiGo,Bangalore,"Thu, 24 Mar 2022",New Delhi,20:15,02:05 + 1 day,5h 50m,1 Stop,"2,356"
2,IndiGo,Bangalore,"Thu, 24 Mar 2022",New Delhi,11:20,18:30,7h 10m,1 Stop,"2,356"
3,IndiGo,Bangalore,"Thu, 24 Mar 2022",New Delhi,17:15,02:05 + 1 day,8h 50m,1 Stop,"2,356"
4,IndiGo,Bangalore,"Thu, 24 Mar 2022",New Delhi,11:20,22:40,11h 20m,1 Stop,"2,356"
...,...,...,...,...,...,...,...,...,...
160,Vistara,Bangalore,"Thu, 24 Mar 2022",New Delhi,19:55,19:55 + 1 day,24h 00m,1 Stop,"8,014"
161,Vistara,Bangalore,"Thu, 24 Mar 2022",New Delhi,19:55,22:50 + 1 day,26h 55m,1 Stop,"8,014"
162,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,09:20,19:30,10h 10m,1 Stop,"8,640"
163,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,14:05,16:35 + 1 day,26h 30m,1 Stop,"9,847"
164,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,06:55,19:45,12h 50m,1 Stop,"9,900"

In [263]:
frames1=[df,job7] #concatinating frames
df1=pd.concat(frames1)
df1

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,"Tue, 8 Mar 2022",Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
160,Vistara,Bangalore,"Thu, 24 Mar 2022",New Delhi,19:55,19:55 + 1 day,24h 00m,1 Stop,"8,014"
161,Vistara,Bangalore,"Thu, 24 Mar 2022",New Delhi,19:55,22:50 + 1 day,26h 55m,1 Stop,"8,014"
162,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,09:20,19:30,10h 10m,1 Stop,"8,640"
163,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,14:05,16:35 + 1 day,26h 30m,1 Stop,"9,847"
164,SpiceJet,Bangalore,"Thu, 24 Mar 2022",New Delhi,06:55,19:45,12h 50m,1 Stop,"9,900"

In [264]:
#extracting data from yatra.com from bangalore to chennai
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=24%2F03%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=194977786833&version=1.1&viewName=normal")

In [265]:
flightname8=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname8.append(i.text)

In [266]:
len(flightname8)

80

In [267]:
time9=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time9.append(i.text)

In [268]:
time9[:5]

['07:30', '14:05', '16:15', '22:55', '18:15']

In [269]:
artime9=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime9.append(i.text.replace("\n"," "))

In [270]:
artime9[:5]

['08:30', '15:05', '17:25', '23:45', '19:15']

In [271]:
source16=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source16.append(i.text)

In [272]:
source17=source16[::2]
source17[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [273]:
destination6=source16[1::2]
destination6[:5]

['Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']

In [274]:
duration8=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration8.append(i.text)

In [275]:
duration8[:5]

['1h 00m', '1h 00m', '1h 10m', '0h 50m', '1h 00m']

In [276]:
stop9=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop9.append(i.text)

In [277]:
stop9[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [278]:
price8=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price8.append(i.text)

In [279]:
price8[:5]

['1,603', '1,603', '1,603', '1,604', '1,604']

In [280]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date16=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date16.append(i.text)

In [281]:
date17=date16[0:80]

In [282]:
len(date17)

80

In [283]:
job8=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job8['Airline']=flightname8
job8['Source']=source17
job8['Date of Journey']=date17
job8['Destination']=destination6
job8['Departure']=time9
job8['Arrival']=artime9
job8['Duration']=duration8
job8['Stops']=stop9
job8['Price']=price8
job8

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Air Asia,Bangalore,"Thu, 24 Mar 2022",Chennai,07:30,08:30,1h 00m,Non Stop,"1,603"
1,Air Asia,Bangalore,"Thu, 24 Mar 2022",Chennai,14:05,15:05,1h 00m,Non Stop,"1,603"
2,Air Asia,Bangalore,"Thu, 24 Mar 2022",Chennai,16:15,17:25,1h 10m,Non Stop,"1,603"
3,IndiGo,Bangalore,"Thu, 24 Mar 2022",Chennai,22:55,23:45,0h 50m,Non Stop,"1,604"
4,IndiGo,Bangalore,"Thu, 24 Mar 2022",Chennai,18:15,19:15,1h 00m,Non Stop,"1,604"
...,...,...,...,...,...,...,...,...,...
75,Vistara,Bangalore,"Thu, 24 Mar 2022",Chennai,09:45,19:55,10h 10m,2 Stop(s),"6,774"
76,Vistara,Bangalore,"Thu, 24 Mar 2022",Chennai,11:30,23:05,11h 35m,2 Stop(s),"6,774"
77,Vistara,Bangalore,"Thu, 24 Mar 2022",Chennai,11:30,20:15,8h 45m,2 Stop(s),"7,257"
78,Vistara,Bangalore,"Thu, 24 Mar 2022",Chennai,11:30,22:45,11h 15m,2 Stop(s),"7,257"
79,Vistara,Bangalore,"Thu, 24 Mar 2022",Chennai,11:30,23:05,11h 35m,2 Stop(s),"7,464"

In [284]:
#extracting data from yarta.com  from banaglaore to mumbai location
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=02%2F04%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=940882989203&version=1.1&viewName=normal")

In [285]:
flightname9=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname9.append(i.text)

In [286]:
len(flightname9)

143

In [287]:
time10=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time10.append(i.text)

In [288]:
time10[:5]

['06:30', '18:55', '05:35', '05:45', '08:20']

In [289]:
artime10=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime10.append(i.text.replace("\n"," "))

In [290]:
artime10[:5]

['08:15', '20:55', '07:15', '07:25', '10:05']

In [291]:
source18=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source18.append(i.text)

In [292]:
source19=source18[::2]
source19[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [294]:
destination7=source18[1::2]
destination7[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [295]:
duration9=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration9.append(i.text)

In [296]:
duration9[:5]

['1h 45m', '2h 00m', '1h 40m', '1h 40m', '1h 45m']

In [297]:
stop10=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop10.append(i.text)

In [298]:
stop10[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [299]:
price9=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price9.append(i.text)

In [300]:
price9[:5]

['2,200', '2,200', '2,201', '2,201', '2,201']

In [301]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date18=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date18.append(i.text)

In [302]:
date19=date18[0:143]
len(date19)

143

In [328]:
job9=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job9['Airline']=flightname9
job9['Source']=source19
job9['Date of Journey']=date19
job9['Destination']=destination7
job9['Departure']=time10
job9['Arrival']=artime10
job9['Duration']=duration9
job9['Stops']=stop10
job9['Price']=price9
job9

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Bangalore,"Sat, 2 Apr 2022",Mumbai,06:30,08:15,1h 45m,Non Stop,"2,200"
1,SpiceJet,Bangalore,"Sat, 2 Apr 2022",Mumbai,18:55,20:55,2h 00m,Non Stop,"2,200"
2,Air Asia,Bangalore,"Sat, 2 Apr 2022",Mumbai,05:35,07:15,1h 40m,Non Stop,"2,201"
3,Go First,Bangalore,"Sat, 2 Apr 2022",Mumbai,05:45,07:25,1h 40m,Non Stop,"2,201"
4,Go First,Bangalore,"Sat, 2 Apr 2022",Mumbai,08:20,10:05,1h 45m,Non Stop,"2,201"
...,...,...,...,...,...,...,...,...,...
138,Go First,Bangalore,"Sat, 2 Apr 2022",Mumbai,09:20,16:55,7h 35m,1 Stop,"7,394"
139,Vistara,Bangalore,"Sat, 2 Apr 2022",Mumbai,08:00,18:20,10h 20m,2 Stop(s),"7,670"
140,Vistara,Bangalore,"Sat, 2 Apr 2022",Mumbai,07:00,18:20,11h 20m,2 Stop(s),"7,670"
141,Vistara,Bangalore,"Sat, 2 Apr 2022",Mumbai,21:10,13:00 + 1 day,15h 50m,2 Stop(s),"7,782"
142,Vistara,Bangalore,"Sat, 2 Apr 2022",Mumbai,09:45,18:20,8h 35m,2 Stop(s),"12,193"

In [304]:
#extracting data from yatra.com mumbai and bangalore
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=01%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1161159546777&version=1.1&viewName=normal")

In [305]:
flightname10=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname10.append(i.text)

In [306]:
len(flightname10)

142

In [307]:
time11=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time11.append(i.text)

In [308]:
time11[:5]

['06:05', '06:55', '08:30', '14:35', '10:15']

In [309]:
artime11=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime11.append(i.text.replace("\n"," "))

In [310]:
artime11[:5]

['07:40', '08:30', '10:05', '16:10', '11:55']

In [311]:
source20=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source20.append(i.text)

In [312]:
source21=source20[::2]
source21[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [313]:
destination8=source20[1::2]
destination8[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [314]:
duration10=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration10.append(i.text)

In [315]:
duration10[:5]

['1h 35m', '1h 35m', '1h 35m', '1h 35m', '1h 40m']

In [316]:
stop11=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop11.append(i.text)

In [317]:
stop11[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [318]:
price10=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price10.append(i.text)

In [319]:
price10[:5]

['2,124', '2,124', '2,124', '2,124', '2,124']

In [320]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date20=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date20.append(i.text)

In [321]:
date21=date20[0:142]
len(date21)

142

In [327]:
job10=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job10['Airline']=flightname10
job10['Source']=source21
job10['Date of Journey']=date21
job10['Destination']=destination8
job10['Departure']=time11
job10['Arrival']=artime11
job10['Duration']=duration10
job10['Stops']=stop11
job10['Price']=price10
job10

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,Mumbai,"Tue, 1 Mar 2022",Bangalore,06:05,07:40,1h 35m,Non Stop,"2,124"
1,IndiGo,Mumbai,"Tue, 1 Mar 2022",Bangalore,06:55,08:30,1h 35m,Non Stop,"2,124"
2,IndiGo,Mumbai,"Tue, 1 Mar 2022",Bangalore,08:30,10:05,1h 35m,Non Stop,"2,124"
3,Go First,Mumbai,"Tue, 1 Mar 2022",Bangalore,14:35,16:10,1h 35m,Non Stop,"2,124"
4,IndiGo,Mumbai,"Tue, 1 Mar 2022",Bangalore,10:15,11:55,1h 40m,Non Stop,"2,124"
...,...,...,...,...,...,...,...,...,...
137,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:05,11:40 + 1 day,28h 35m,3 Stop(s),"7,988"
138,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:05,11:40 + 1 day,28h 35m,3 Stop(s),"7,988"
139,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:00,11:40 + 1 day,28h 40m,2 Stop(s),"7,988"
140,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:00,11:40 + 1 day,28h 40m,2 Stop(s),"7,988"
141,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:55,20:05,12h 10m,2 Stop(s),"8,696"

In [330]:
frames2=[df1,job8, job9, job10]
df3=pd.concat(frames2)
df3

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,"Tue, 8 Mar 2022",Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
137,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:05,11:40 + 1 day,28h 35m,3 Stop(s),"7,988"
138,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:05,11:40 + 1 day,28h 35m,3 Stop(s),"7,988"
139,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:00,11:40 + 1 day,28h 40m,2 Stop(s),"7,988"
140,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:00,11:40 + 1 day,28h 40m,2 Stop(s),"7,988"
141,Air India,Mumbai,"Tue, 1 Mar 2022",Bangalore,07:55,20:05,12h 10m,2 Stop(s),"8,696"

In [331]:
#extracting the data from yatra.com mumbai to kolkata
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=23%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1308025084289&version=1.1&viewName=normal")

In [332]:
flightname11=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname11.append(i.text)

In [333]:
len(flightname11)

124

In [334]:
time12=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time12.append(i.text)

In [335]:
time12[:5]

['06:15', '05:00', '21:00', '15:50', '16:20']

In [336]:
artime12=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime12.append(i.text.replace("\n"," "))

In [337]:
artime12[:5]

['08:55', '07:30', '23:35', '21:55', '22:40']

In [338]:
source22=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source22.append(i.text)

In [339]:
source23=source22[::2]
source23[:5]

['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai']

In [340]:
destination9=source22[1::2]
destination9[:5]

['Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata']

In [341]:
duration11=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration11.append(i.text)

In [342]:
duration11[:5]

['2h 40m', '2h 30m', '2h 35m', '6h 05m', '6h 20m']

In [343]:
stop12=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop12.append(i.text)

In [344]:
stop12[:5]

['Non Stop', 'Non Stop', 'Non Stop', '1 Stop', '1 Stop']

In [345]:
price11=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price11.append(i.text)

In [346]:
price11[:5]

['2,832', '2,834', '2,834', '2,834', '2,834']

In [347]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date22=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date22.append(i.text)

In [348]:
date23=date22[0:124]
len(date23)

124

In [349]:
job11=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job11['Airline']=flightname11
job11['Source']=source23
job11['Date of Journey']=date23
job11['Destination']=destination9
job11['Departure']=time12
job11['Arrival']=artime12
job11['Duration']=duration11
job11['Stops']=stop12
job11['Price']=price11
job11

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Wed, 23 Mar 2022",Kolkata,06:15,08:55,2h 40m,Non Stop,"2,832"
1,Go First,Mumbai,"Wed, 23 Mar 2022",Kolkata,05:00,07:30,2h 30m,Non Stop,"2,834"
2,Go First,Mumbai,"Wed, 23 Mar 2022",Kolkata,21:00,23:35,2h 35m,Non Stop,"2,834"
3,IndiGo,Mumbai,"Wed, 23 Mar 2022",Kolkata,15:50,21:55,6h 05m,1 Stop,"2,834"
4,IndiGo,Mumbai,"Wed, 23 Mar 2022",Kolkata,16:20,22:40,6h 20m,1 Stop,"2,834"
...,...,...,...,...,...,...,...,...,...
119,Air India,Mumbai,"Wed, 23 Mar 2022",Kolkata,09:50,20:05,10h 15m,2 Stop(s),"7,237"
120,Vistara,Mumbai,"Wed, 23 Mar 2022",Kolkata,11:25,22:45,11h 20m,2 Stop(s),"10,397"
121,Vistara,Mumbai,"Wed, 23 Mar 2022",Kolkata,06:00,19:35,13h 35m,2 Stop(s),"12,120"
122,Vistara,Mumbai,"Wed, 23 Mar 2022",Kolkata,16:05,19:35 + 1 day,27h 30m,2 Stop(s),"12,120"
123,SpiceJet,Mumbai,"Wed, 23 Mar 2022",Kolkata,13:00,14:20 + 1 day,25h 20m,1 Stop,"18,494"

In [350]:
#extracting data from yatra.com for chandigarh to kolata location
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=29%2F03%2F2022&hb=0&noOfSegments=1&origin=IXC&originCountry=IN&type=O&unique=376183859122&version=1.1&viewName=normal")

In [351]:
flightname12=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname12.append(i.text)

In [352]:
len(flightname12)

79

In [353]:
time13=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time13.append(i.text)

In [354]:
time13[:5]

['20:45', '20:45', '20:45', '18:50', '18:50']

In [355]:
artime13=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime13.append(i.text.replace("\n"," "))

In [356]:
artime13[:5]

['09:00 + 1 day',
 '11:05 + 1 day',
 '22:20 + 1 day',
 '08:20 + 1 day',
 '09:35 + 1 day']

In [357]:
source24=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source24.append(i.text)

In [358]:
source25=source24[::2]
source25[:5]

['Chandigarh', 'Chandigarh', 'Chandigarh', 'Chandigarh', 'Chandigarh']

In [359]:
destination10=source24[1::2]
destination10[:5]

['Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata']

In [360]:
duration12=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration12.append(i.text)

In [361]:
duration12[:5]

['12h 15m', '14h 20m', '25h 35m', '13h 30m', '14h 45m']

In [362]:
stop13=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop13.append(i.text)

In [363]:
stop13[:5]

['1 Stop', '2 Stop(s)', '1 Stop', '1 Stop', '1 Stop']

In [364]:
price12=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price12.append(i.text)

In [365]:
price12[:5]

['3,759', '3,759', '3,759', '3,906', '3,906']

In [366]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date24=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date24.append(i.text)

In [367]:
date25=date24[0:79]
len(date25)

79

In [368]:
job12=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job12['Airline']=flightname12
job12['Source']=source25
job12['Date of Journey']=date25
job12['Destination']=destination10
job12['Departure']=time13
job12['Arrival']=artime13
job12['Duration']=duration12
job12['Stops']=stop13
job12['Price']=price12
job12

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Air India,Chandigarh,"Tue, 29 Mar 2022",Kolkata,20:45,09:00 + 1 day,12h 15m,1 Stop,"3,759"
1,Air India,Chandigarh,"Wed, 30 Mar 2022",Kolkata,20:45,11:05 + 1 day,14h 20m,2 Stop(s),"3,759"
2,Air India,Chandigarh,"Tue, 29 Mar 2022",Kolkata,20:45,22:20 + 1 day,25h 35m,1 Stop,"3,759"
3,Vistara,Chandigarh,"Wed, 30 Mar 2022",Kolkata,18:50,08:20 + 1 day,13h 30m,1 Stop,"3,906"
4,Vistara,Chandigarh,"Tue, 29 Mar 2022",Kolkata,18:50,09:35 + 1 day,14h 45m,1 Stop,"3,906"
...,...,...,...,...,...,...,...,...,...
74,Vistara,Chandigarh,"Tue, 29 Mar 2022",Kolkata,08:55,22:45,13h 50m,2 Stop(s),"8,199"
75,Air India,Chandigarh,"Wed, 30 Mar 2022",Kolkata,07:05,20:05 + 1 day,37h 00m,3 Stop(s),"8,915"
76,Air India,Chandigarh,"Tue, 29 Mar 2022",Kolkata,11:00,22:20,11h 20m,2 Stop(s),"8,988"
77,Air India,Chandigarh,"Wed, 30 Mar 2022",Kolkata,11:00,19:10,8h 10m,2 Stop(s),"9,409"
78,Vistara,Chandigarh,"Tue, 29 Mar 2022",Kolkata,15:25,19:35,4h 10m,1 Stop,"9,836"

In [369]:
#extracting the data from yatra.com from chennai to bangalore
driver.get("https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=24%2F03%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1071898737656&version=1.1&viewName=normal")

In [370]:
flightname13=[] #airline name
name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in name:
    flightname13.append(i.text)

In [371]:
len(flightname13)

83

In [372]:
time14=[] #departure time
tim=driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in tim:
    time14.append(i.text)

In [373]:
time14[:5]

['08:20', '16:05', '09:00', '13:05', '16:30']

In [374]:
artime14=[]  #Arrival Time
ar=driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in ar:
    artime14.append(i.text.replace("\n"," "))

In [375]:
artime14[:5]

['09:40', '17:00', '10:05', '14:10', '17:35']

In [376]:
source26=[]  #Source from where the flight take off
sou=driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in sou:
    source26.append(i.text)

In [377]:
source27=source26[::2]
source27[:5]

['Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai']

In [378]:
destination11=source26[1::2]
destination11[:5]

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [379]:
duration13=[]  #duration of the flight
dura=driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
for i in dura:
    duration13.append(i.text)

In [380]:
duration13[:5]

['1h 20m', '0h 55m', '1h 05m', '1h 05m', '1h 05m']

In [381]:
stop14=[]  #number of stops
st=driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span")
for i in st:
    stop14.append(i.text)

In [382]:
stop14[:5]

['Non Stop', 'Non Stop', 'Non Stop', 'Non Stop', 'Non Stop']

In [383]:
price13=[]  #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in pr:
    price13.append(i.text)

In [384]:
price13[:5]

['1,442', '1,443', '1,443', '1,443', '1,443']

In [385]:
list_count=0 #iterating over the each row of the flight and clicking on flight details and fetching date of journey
date26=[]
while(list_count<170):
    
   
    if(list_count>170):
        break
    else:
        list_count +=1
    try:
        date=driver.find_elements_by_xpath("//div[@class='link-color fs-12 cursor-pointer']")
        date[list_count].click()
        time.sleep(5)
    except:
        pass
    finally:
        da=driver.find_elements_by_xpath("//div[@class='bold fs-12 mb-5']")
        for i in da:
            date26.append(i.text)

In [386]:
date27=date26[0:83]
len(date27)

83

In [388]:
job13=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job13['Airline']=flightname13
job13['Source']=source27
job13['Date of Journey']=date27
job13['Destination']=destination11
job13['Departure']=time14
job13['Arrival']=artime14
job13['Duration']=duration13
job13['Stops']=stop14
job13['Price']=price13
job13

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Chennai,"Thu, 24 Mar 2022",Bangalore,08:20,09:40,1h 20m,Non Stop,"1,442"
1,Air Asia,Chennai,"Thu, 24 Mar 2022",Bangalore,16:05,17:00,0h 55m,Non Stop,"1,443"
2,IndiGo,Chennai,"Thu, 24 Mar 2022",Bangalore,09:00,10:05,1h 05m,Non Stop,"1,443"
3,IndiGo,Chennai,"Thu, 24 Mar 2022",Bangalore,13:05,14:10,1h 05m,Non Stop,"1,443"
4,IndiGo,Chennai,"Thu, 24 Mar 2022",Bangalore,16:30,17:35,1h 05m,Non Stop,"1,443"
...,...,...,...,...,...,...,...,...,...
78,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,06:55,17:45,10h 50m,2 Stop(s),"6,471"
79,Air India,Chennai,"Thu, 24 Mar 2022",Bangalore,06:05,19:10,13h 05m,2 Stop(s),"7,504"
80,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,06:55,16:00,9h 05m,2 Stop(s),"7,996"
81,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,07:00,16:00,9h 00m,2 Stop(s),"8,151"
82,Go First,Chennai,"Thu, 24 Mar 2022",Bangalore,08:15,16:25,8h 10m,1 Stop,"9,999"

In [389]:
frames3=[df3,job11,job12,job13] #concatinating the data
df4=pd.concat(frames3)
df4

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,"Tue, 8 Mar 2022",Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,"Tue, 8 Mar 2022",Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,"Tue, 8 Mar 2022",Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
78,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,06:55,17:45,10h 50m,2 Stop(s),"6,471"
79,Air India,Chennai,"Thu, 24 Mar 2022",Bangalore,06:05,19:10,13h 05m,2 Stop(s),"7,504"
80,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,06:55,16:00,9h 05m,2 Stop(s),"7,996"
81,Vistara,Chennai,"Thu, 24 Mar 2022",Bangalore,07:00,16:00,9h 00m,2 Stop(s),"8,151"
82,Go First,Chennai,"Thu, 24 Mar 2022",Bangalore,08:15,16:25,8h 10m,1 Stop,"9,999"

In [449]:
df4['Day'],df4['Date of journey']=df4['Date of Journey'].str.split(',',2).str
df4.drop('Date of Journey',axis=1,inplace=True)

In [450]:
df4

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price,Day,Date of journey
0,SpiceJet,Mumbai,Chennai,19:30,21:20,1h 50m,Non Stop,"1,888",Tue,8 Mar 2022
1,SpiceJet,Mumbai,Chennai,06:00,08:00,2h 00m,Non Stop,"1,888",Tue,8 Mar 2022
2,Go First,Mumbai,Chennai,05:50,07:40,1h 50m,Non Stop,"1,890",Tue,8 Mar 2022
3,IndiGo,Mumbai,Chennai,16:25,18:15,1h 50m,Non Stop,"1,890",Tue,8 Mar 2022
4,IndiGo,Mumbai,Chennai,21:25,23:15,1h 50m,Non Stop,"1,890",Tue,8 Mar 2022
...,...,...,...,...,...,...,...,...,...,...
78,Vistara,Chennai,Bangalore,06:55,17:45,10h 50m,2 Stop(s),"6,471",Thu,24 Mar 2022
79,Air India,Chennai,Bangalore,06:05,19:10,13h 05m,2 Stop(s),"7,504",Thu,24 Mar 2022
80,Vistara,Chennai,Bangalore,06:55,16:00,9h 05m,2 Stop(s),"7,996",Thu,24 Mar 2022
81,Vistara,Chennai,Bangalore,07:00,16:00,9h 00m,2 Stop(s),"8,151",Thu,24 Mar 2022
82,Go First,Chennai,Bangalore,08:15,16:25,8h 10m,1 Stop,"9,999",Thu,24 Mar 2022

In [451]:
df4.drop('Day',axis=1, inplace=True)

In [452]:
columns=['Airline', 'Source', 'Date of journey','Destination', 'Departure','Arrival','Duration','Stops','Price']
df9=df4.reindex(columns=columns)
df9

,Airline,Source,Date of journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,8 Mar 2022,Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,8 Mar 2022,Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,8 Mar 2022,Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,8 Mar 2022,Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,8 Mar 2022,Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
78,Vistara,Chennai,24 Mar 2022,Bangalore,06:55,17:45,10h 50m,2 Stop(s),"6,471"
79,Air India,Chennai,24 Mar 2022,Bangalore,06:05,19:10,13h 05m,2 Stop(s),"7,504"
80,Vistara,Chennai,24 Mar 2022,Bangalore,06:55,16:00,9h 05m,2 Stop(s),"7,996"
81,Vistara,Chennai,24 Mar 2022,Bangalore,07:00,16:00,9h 00m,2 Stop(s),"8,151"
82,Go First,Chennai,24 Mar 2022,Bangalore,08:15,16:25,8h 10m,1 Stop,"9,999"

In [453]:
df9.rename(columns={'Date of journey': 'Date of Journey'}, inplace=True)

In [401]:
df9.to_csv("flightdatayatra.csv")  #saving the data to csv format

In [443]:
df8=pd.read_csv("flightpricedatammt111.csv")  #importing the data collected from make my trip

In [444]:
df8.head()

,Unnamed: 0,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"7,424"
1,1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"7,424"
2,2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"7,424"
3,3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"7,424"
4,4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"7,424"

In [445]:
df8.drop('Unnamed: 0', axis=1, inplace=True)

In [446]:
df8.head()

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"7,424"

In [454]:
frm=[df9,df8]  #concatinating the data
dffinal111=pd.concat(frm)
dffinal111

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,SpiceJet,Mumbai,8 Mar 2022,Chennai,19:30,21:20,1h 50m,Non Stop,"1,888"
1,SpiceJet,Mumbai,8 Mar 2022,Chennai,06:00,08:00,2h 00m,Non Stop,"1,888"
2,Go First,Mumbai,8 Mar 2022,Chennai,05:50,07:40,1h 50m,Non Stop,"1,890"
3,IndiGo,Mumbai,8 Mar 2022,Chennai,16:25,18:15,1h 50m,Non Stop,"1,890"
4,IndiGo,Mumbai,8 Mar 2022,Chennai,21:25,23:15,1h 50m,Non Stop,"1,890"
...,...,...,...,...,...,...,...,...,...
74,Vistara,New Delhi,24 Feb 2022,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"4,868"
75,Vistara,New Delhi,24 Feb 2022,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"4,868"
76,Vistara,New Delhi,24 Feb 2022,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"4,868"
77,Spicejet,New Delhi,24 Feb 2022,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"4,898"
78,Go First,New Delhi,24 Feb 2022,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"5,692"

In [455]:
dffinal111.to_csv("flightdatafinal1111.csv")