In [100]:
#importing the required libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
from selenium.webdriver.common.by import By

In [101]:
#connecting with the drivers
driver=webdriver.Chrome(r"C:\Users\MICROSOFT\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [102]:
#extracting data from make my trip.com
driver.get("https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|D|DF|G|Brand|B_M_Makemytrip_Variants|Brand-Variants-Exact|RSA|Regular|V2|529579610088")

In [20]:
flightname=[] #Airline name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    flightname.append(i.text.strip(" "))

In [52]:
flightname[:5]

['Go First', 'Go First', 'Go First', 'Go First', 'Go First']

In [8]:
len(flightname)

38

In [22]:
depttime=[] #deprature time of the flight
time=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoLeft']/div/p")
for i in time:
    depttime.append(i.text)

In [53]:
departures=depttime[::2]
departures[:5]

['06:00', '15:00', '14:20', '08:00', '21:00']

In [54]:
source=depttime[1::2] #source from where the flight take off
source[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [25]:
arrivaltime=[] #time at which the flight lands
atime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div/p")
for i in atime:
    arrivaltime.append(i.text)

In [55]:
arrivals=arrivaltime[::2]
arrivals[:5]

['10:25', '21:00', '22:20', '22:20', '09:55']

In [56]:
destination=arrivaltime[1::2] #destination of the flight
destination[:5]

['Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [45]:
stopinfo=[]  #duration of the flight
stop=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in stop:
    stopinfo.append(i.text)

In [57]:
stopinfo[:5]

['04 h 25 m', '06 h', '08 h', '14 h 20 m', '12 h 55 m']

In [47]:
layover=[]  #number of stops
lay=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in lay:
    layover.append(i.text)

In [58]:
layover[:5]

['1 stop via Ahmedabad',
 '1 stop via Ranchi',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Mumbai']

In [49]:
price=[] #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='textRight flexOne']/p")
for i in pr:
    price.append(i.text)

In [59]:
price[:5]

['₹ 7,424', '₹ 7,424', '₹ 7,424', '₹ 7,424', '₹ 7,424']

In [51]:
job=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job['Airline']=flightname
job['Source']=source
job['Destination']=destination
job['Departure']=departures
job['Arrival']=arrivals
job['Duration']=stopinfo
job['Stops']=layover
job['Price']=price
job

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,New Delhi,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"₹ 7,424"
1,Go First,New Delhi,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"₹ 7,424"
2,Go First,New Delhi,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"₹ 7,424"
3,Go First,New Delhi,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"₹ 7,424"
4,Go First,New Delhi,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"₹ 7,424"
5,Go First,New Delhi,Bengaluru,18:05,09:55,15 h 50 m,1 stop via Mumbai,"₹ 7,424"
6,Go First,New Delhi,Bengaluru,19:25,11:10,15 h 45 m,1 stop via Kolkata,"₹ 7,424"
7,Air India,New Delhi,Bengaluru,06:10,08:55,02 h 45 m,Non stop,"₹ 7,425"
8,IndiGo,New Delhi,Bengaluru,08:20,11:15,02 h 55 m,Non stop,"₹ 7,425"
9,Vistara,New Delhi,Bengaluru,09:05,11:50,02 h 45 m,Non stop,"₹ 7,425"
10,Air India,New Delhi,Bengaluru,09:45,12:30,02 h 45 m,Non stop,"₹ 7,425"
11,IndiGo,New Delhi,Bengaluru,12:30,15:25,02 h 55 m,Non stop,"₹ 7,425"
12,Air India,New Delhi,Bengaluru,13:30,16:15,02 h 45 m,Non stop,"₹ 7,425"
13,Vistara,New Delhi,Bengaluru,14:15,17:00,02 h 45 m,Non stop,"₹ 7,425"
14,IndiGo,New Delhi,Bengaluru,15:30,18:30,03 h,Non stop,"₹ 7,425"
15,Air India,New Delhi,Bengaluru,17:20,20:05,02 h 45 m,Non stop,"₹ 7,425"
16,IndiGo,New Delhi,Bengaluru,18:20,21:15,02 h 55 m,Non stop,"₹ 7,425"
17,Vistara,New Delhi,Bengaluru,20:40,23:20,02 h 40 m,Non stop,"₹ 7,425"
18,Air India,New Delhi,Bengaluru,22:00,00:50,02 h 50 m,Non stop,"₹ 7,425"
19,Spicejet,New Delhi,Bengaluru,07:25,21:20,13 h 55 m,1 stop via Patna,"₹ 7,425"
20,Spicejet,New Delhi,Bengaluru,07:45,22:45,15 h,1 stop via Jabalpur,"₹ 7,425"
21,AirAsia,New Delhi,Bengaluru,08:00,10:40,02 h 40 m,Non stop,"₹ 7,426"
22,AirAsia,New Delhi,Bengaluru,12:40,20:55,08 h 15 m,"2 stop via Goa,Hyderabad","₹ 7,762"
23,IndiGo,New Delhi,Bengaluru,12:55,18:30,05 h 35 m,1 stop via Hyderabad,"₹ 9,735"
24,Air India,New Delhi,Bengaluru,17:15,22:15,05 h,1 stop via Hyderabad,"₹ 9,840"
25,"Vistara, IndiGo",New Delhi,Bengaluru,07:30,13:20,05 h 50 m,1 stop via Hyderabad,"₹ 10,409"
26,"Air India, AirAsia",New Delhi,Bengaluru,09:45,15:30,05 h 45 m,1 stop via Hyderabad,"₹ 10,409"
27,"IndiGo, AirAsia",New Delhi,Bengaluru,09:40,15:30,05 h 50 m,1 stop via Hyderabad,"₹ 10,409"
28,"Vistara, IndiGo",New Delhi,Bengaluru,14:45,20:45,06 h,1 stop via Hyderabad,"₹ 10,409"
29,IndiGo,New Delhi,Bengaluru,09:25,15:40,06 h 15 m,1 stop via Pune,"₹ 10,523"
30,IndiGo,New Delhi,Bengaluru,17:25,23:55,06 h 30 m,1 stop via Pune,"₹ 10,523"
31,IndiGo,New Delhi,Bengaluru,21:20,02:35,05 h 15 m,1 stop via Pune,"₹ 10,523"
32,Go First,New Delhi,Bengaluru,10:45,15:10,04 h 25 m,1 stop via Goa,"₹ 10,672"
33,Vistara,New Delhi,Bengaluru,05:45,10:45,05 h,1 stop via Mumbai,"₹ 10,680"
34,Vistara,New Delhi,Bengaluru,15:30,20:55,05 h 25 m,1 stop via Mumbai,"₹ 10,680"
35,Vistara,New Delhi,Bengaluru,14:20,20:55,06 h 35 m,1 stop via Mumbai,"₹ 10,680"

In [116]:
job_new=job.assign(Date_of_journey='28 Jan 2022')
job_new

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price,Date_of_journey
0,Go First,New Delhi,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"₹ 7,424",28 Jan 2022
1,Go First,New Delhi,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"₹ 7,424",28 Jan 2022
2,Go First,New Delhi,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
3,Go First,New Delhi,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
4,Go First,New Delhi,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
5,Go First,New Delhi,Bengaluru,18:05,09:55,15 h 50 m,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
6,Go First,New Delhi,Bengaluru,19:25,11:10,15 h 45 m,1 stop via Kolkata,"₹ 7,424",28 Jan 2022
7,Air India,New Delhi,Bengaluru,06:10,08:55,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
8,IndiGo,New Delhi,Bengaluru,08:20,11:15,02 h 55 m,Non stop,"₹ 7,425",28 Jan 2022
9,Vistara,New Delhi,Bengaluru,09:05,11:50,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
10,Air India,New Delhi,Bengaluru,09:45,12:30,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
11,IndiGo,New Delhi,Bengaluru,12:30,15:25,02 h 55 m,Non stop,"₹ 7,425",28 Jan 2022
12,Air India,New Delhi,Bengaluru,13:30,16:15,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
13,Vistara,New Delhi,Bengaluru,14:15,17:00,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
14,IndiGo,New Delhi,Bengaluru,15:30,18:30,03 h,Non stop,"₹ 7,425",28 Jan 2022
15,Air India,New Delhi,Bengaluru,17:20,20:05,02 h 45 m,Non stop,"₹ 7,425",28 Jan 2022
16,IndiGo,New Delhi,Bengaluru,18:20,21:15,02 h 55 m,Non stop,"₹ 7,425",28 Jan 2022
17,Vistara,New Delhi,Bengaluru,20:40,23:20,02 h 40 m,Non stop,"₹ 7,425",28 Jan 2022
18,Air India,New Delhi,Bengaluru,22:00,00:50,02 h 50 m,Non stop,"₹ 7,425",28 Jan 2022
19,Spicejet,New Delhi,Bengaluru,07:25,21:20,13 h 55 m,1 stop via Patna,"₹ 7,425",28 Jan 2022
20,Spicejet,New Delhi,Bengaluru,07:45,22:45,15 h,1 stop via Jabalpur,"₹ 7,425",28 Jan 2022
21,AirAsia,New Delhi,Bengaluru,08:00,10:40,02 h 40 m,Non stop,"₹ 7,426",28 Jan 2022
22,AirAsia,New Delhi,Bengaluru,12:40,20:55,08 h 15 m,"2 stop via Goa,Hyderabad","₹ 7,762",28 Jan 2022
23,IndiGo,New Delhi,Bengaluru,12:55,18:30,05 h 35 m,1 stop via Hyderabad,"₹ 9,735",28 Jan 2022
24,Air India,New Delhi,Bengaluru,17:15,22:15,05 h,1 stop via Hyderabad,"₹ 9,840",28 Jan 2022
25,"Vistara, IndiGo",New Delhi,Bengaluru,07:30,13:20,05 h 50 m,1 stop via Hyderabad,"₹ 10,409",28 Jan 2022
26,"Air India, AirAsia",New Delhi,Bengaluru,09:45,15:30,05 h 45 m,1 stop via Hyderabad,"₹ 10,409",28 Jan 2022
27,"IndiGo, AirAsia",New Delhi,Bengaluru,09:40,15:30,05 h 50 m,1 stop via Hyderabad,"₹ 10,409",28 Jan 2022
28,"Vistara, IndiGo",New Delhi,Bengaluru,14:45,20:45,06 h,1 stop via Hyderabad,"₹ 10,409",28 Jan 2022
29,IndiGo,New Delhi,Bengaluru,09:25,15:40,06 h 15 m,1 stop via Pune,"₹ 10,523",28 Jan 2022
30,IndiGo,New Delhi,Bengaluru,17:25,23:55,06 h 30 m,1 stop via Pune,"₹ 10,523",28 Jan 2022
31,IndiGo,New Delhi,Bengaluru,21:20,02:35,05 h 15 m,1 stop via Pune,"₹ 10,523",28 Jan 2022
32,Go First,New Delhi,Bengaluru,10:45,15:10,04 h 25 m,1 stop via Goa,"₹ 10,672",28 Jan 2022
33,Vistara,New Delhi,Bengaluru,05:45,10:45,05 h,1 stop via Mumbai,"₹ 10,680",28 Jan 2022
34,Vistara,New Delhi,Bengaluru,15:30,20:55,05 h 25 m,1 stop via Mumbai,"₹ 10,680",28 Jan 2022
35,Vistara,New Delhi,Bengaluru,14:20,20:55,06 h 35 m,1 stop via Mumbai,"₹ 10,680",28 Jan 2022

In [71]:
#extracting data from make my trip
driver.get("https://www.makemytrip.com/flight/search?tripType=O&itinerary=DEL-CCU-24/02/2022&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1643298940384&forwardFlowRequired=true&mpo=&intl=false")

In [74]:
flightname1=[] #Airline name
name=driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']")
for i in name:
    flightname1.append(i.text)

In [76]:
flightname1[:5]

['AirAsia', 'AirAsia', 'AirAsia', 'AirAsia', 'Go First']

In [77]:
len(flightname1)

43

In [78]:
depttime1=[] #deprature time of the flight
time=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoLeft']/div/p")
for i in time:
    depttime1.append(i.text)

In [80]:
departures1=depttime1[::2]
departures1[:5]

['07:10', '09:35', '08:00', '15:25', '05:50']

In [81]:
source1=depttime1[1::2] #source from where the flight take off
source1[:5]

['New Delhi', 'New Delhi', 'New Delhi', 'New Delhi', 'New Delhi']

In [82]:
arrivaltime1=[] #time at which the flight lands
atime=driver.find_elements_by_xpath("//div[@class='flightTimeSection flexOne timeInfoRight']/div/p")
for i in atime:
    arrivaltime1.append(i.text)

In [83]:
arrivals1=arrivaltime1[::2]
arrivals1[:5]

['15:25', '19:15', '19:15', '23:10', '08:00']

In [92]:
destination1=arrivaltime1[1::2] #destination of the flight
destination1[:5]

['Kolkata', 'Kolkata', 'Kolkata', 'Kolkata', 'Kolkata']

In [85]:
stopinfo1=[]  #duration of the flight
stop=driver.find_elements_by_xpath("//div[@class='stop-info flexOne']/p")
for i in stop:
    stopinfo1.append(i.text)

In [86]:
stopinfo1[:5]

['08 h 15 m', '09 h 40 m', '11 h 15 m', '07 h 45 m', '02 h 10 m']

In [87]:
layover1=[]  #number of stops
lay=driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']")
for i in lay:
    layover1.append(i.text)

In [88]:
layover[:5]

['1 stop via Ahmedabad',
 '1 stop via Ranchi',
 '1 stop via Mumbai',
 '1 stop via Mumbai',
 '1 stop via Mumbai']

In [89]:
price1=[] #price of the flight
pr=driver.find_elements_by_xpath("//div[@class='textRight flexOne']/p")
for i in pr:
    price1.append(i.text)

In [90]:
price1[:5]

['₹ 2,474', '₹ 2,474', '₹ 2,474', '₹ 2,474', '₹ 2,480']

In [93]:
job1=pd.DataFrame({})  #creating the dataframe and saving it in different titles.
job1['Airline']=flightname1
job1['Source']=source1
job1['Destination']=destination1
job1['Departure']=departures1
job1['Arrival']=arrivals1
job1['Duration']=stopinfo1
job1['Stops']=layover1
job1['Price']=price1
job1

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price
0,AirAsia,New Delhi,Kolkata,07:10,15:25,08 h 15 m,"2 stop via Guwahati,Imphal","₹ 2,474"
1,AirAsia,New Delhi,Kolkata,09:35,19:15,09 h 40 m,"2 stop via Bengaluru,Bhubaneswar","₹ 2,474"
2,AirAsia,New Delhi,Kolkata,08:00,19:15,11 h 15 m,"2 stop via Bengaluru,Bhubaneswar","₹ 2,474"
3,AirAsia,New Delhi,Kolkata,15:25,23:10,07 h 45 m,"2 stop via Pune,Bhubaneswar","₹ 2,474"
4,Go First,New Delhi,Kolkata,05:50,08:00,02 h 10 m,Non stop,"₹ 2,480"
5,Go First,New Delhi,Kolkata,19:25,21:45,02 h 20 m,Non stop,"₹ 2,480"
6,IndiGo,New Delhi,Kolkata,22:30,00:35,02 h 05 m,Non stop,"₹ 2,480"
7,IndiGo,New Delhi,Kolkata,23:30,01:40,02 h 10 m,Non stop,"₹ 2,480"
8,AirAsia,New Delhi,Kolkata,04:45,07:10,02 h 25 m,Non stop,"₹ 2,481"
9,Spicejet,New Delhi,Kolkata,07:00,09:05,02 h 05 m,Non stop,"₹ 2,481"
10,AirAsia,New Delhi,Kolkata,16:50,19:30,02 h 40 m,Non stop,"₹ 2,481"
11,Spicejet,New Delhi,Kolkata,20:50,23:00,02 h 10 m,Non stop,"₹ 2,481"
12,AirAsia,New Delhi,Kolkata,21:00,23:10,02 h 10 m,Non stop,"₹ 2,481"
13,Vistara,New Delhi,Kolkata,06:30,08:35,02 h 05 m,Non stop,"₹ 2,483"
14,Vistara,New Delhi,Kolkata,07:30,09:35,02 h 05 m,Non stop,"₹ 2,483"
15,Vistara,New Delhi,Kolkata,15:55,18:05,02 h 10 m,Non stop,"₹ 2,483"
16,Vistara,New Delhi,Kolkata,17:30,19:35,02 h 05 m,Non stop,"₹ 2,483"
17,Vistara,New Delhi,Kolkata,20:30,22:45,02 h 15 m,Non stop,"₹ 2,483"
18,AirAsia,New Delhi,Kolkata,16:05,01:35,09 h 30 m,1 stop via Bengaluru,"₹ 2,903"
19,Spicejet,New Delhi,Kolkata,17:15,21:30,04 h 15 m,1 stop via Patna,"₹ 3,553"
20,Spicejet,New Delhi,Kolkata,07:25,21:30,14 h 05 m,1 stop via Patna,"₹ 3,553"
21,Air India,New Delhi,Kolkata,21:25,08:05,10 h 40 m,1 stop via Hyderabad,"₹ 3,610"
22,Air India,New Delhi,Kolkata,17:15,08:05,14 h 50 m,1 stop via Hyderabad,"₹ 3,610"
23,IndiGo,New Delhi,Kolkata,16:45,22:55,06 h 10 m,1 stop via Bhubaneswar,"₹ 3,677"
24,AirAsia,New Delhi,Kolkata,19:00,01:35,06 h 35 m,1 stop via Bengaluru,"₹ 3,877"
25,Go First,New Delhi,Kolkata,07:20,12:30,05 h 10 m,1 stop via Hyderabad,"₹ 4,039"
26,Air India,New Delhi,Kolkata,20:15,22:20,02 h 05 m,Non stop,"₹ 4,097"
27,IndiGo,New Delhi,Kolkata,16:05,20:15,04 h 10 m,1 stop via Patna,"₹ 4,130"
28,IndiGo,New Delhi,Kolkata,13:15,20:15,07 h,1 stop via Patna,"₹ 4,130"
29,IndiGo,New Delhi,Kolkata,12:20,20:15,07 h 55 m,1 stop via Patna,"₹ 4,130"
30,AirAsia,New Delhi,Kolkata,06:20,12:00,05 h 40 m,1 stop via Bagdogra,"₹ 4,345"
31,Go First,New Delhi,Kolkata,09:10,16:15,07 h 05 m,1 stop via Varanasi,"₹ 4,394"
32,IndiGo,New Delhi,Kolkata,15:30,20:55,05 h 25 m,1 stop via Varanasi,"₹ 4,472"
33,Go First,New Delhi,Kolkata,17:00,23:35,06 h 35 m,1 stop via Mumbai,"₹ 4,730"
34,Go First,New Delhi,Kolkata,15:30,23:35,08 h 05 m,1 stop via Mumbai,"₹ 4,730"
35,Go First,New Delhi,Kolkata,15:00,23:35,08 h 35 m,1 stop via Mumbai,"₹ 4,730"
36,IndiGo,New Delhi,Kolkata,07:25,13:10,05 h 45 m,1 stop via Jaipur,"₹ 4,799"
37,Vistara,New Delhi,Kolkata,10:20,16:55,06 h 35 m,1 stop via Mumbai,"₹ 4,868"
38,Vistara,New Delhi,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"₹ 4,868"
39,Vistara,New Delhi,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"₹ 4,868"
40,Vistara,New Delhi,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"₹ 4,868"
41,Spicejet,New Delhi,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"₹ 4,898"
42,Go First,New Delhi,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"₹ 5,692"

In [115]:
job_new1=job1.assign(Date_of_journey='24 Feb 2022')
job_new1

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price,Date_of_journey
0,AirAsia,New Delhi,Kolkata,07:10,15:25,08 h 15 m,"2 stop via Guwahati,Imphal","₹ 2,474",24 Feb 2022
1,AirAsia,New Delhi,Kolkata,09:35,19:15,09 h 40 m,"2 stop via Bengaluru,Bhubaneswar","₹ 2,474",24 Feb 2022
2,AirAsia,New Delhi,Kolkata,08:00,19:15,11 h 15 m,"2 stop via Bengaluru,Bhubaneswar","₹ 2,474",24 Feb 2022
3,AirAsia,New Delhi,Kolkata,15:25,23:10,07 h 45 m,"2 stop via Pune,Bhubaneswar","₹ 2,474",24 Feb 2022
4,Go First,New Delhi,Kolkata,05:50,08:00,02 h 10 m,Non stop,"₹ 2,480",24 Feb 2022
5,Go First,New Delhi,Kolkata,19:25,21:45,02 h 20 m,Non stop,"₹ 2,480",24 Feb 2022
6,IndiGo,New Delhi,Kolkata,22:30,00:35,02 h 05 m,Non stop,"₹ 2,480",24 Feb 2022
7,IndiGo,New Delhi,Kolkata,23:30,01:40,02 h 10 m,Non stop,"₹ 2,480",24 Feb 2022
8,AirAsia,New Delhi,Kolkata,04:45,07:10,02 h 25 m,Non stop,"₹ 2,481",24 Feb 2022
9,Spicejet,New Delhi,Kolkata,07:00,09:05,02 h 05 m,Non stop,"₹ 2,481",24 Feb 2022
10,AirAsia,New Delhi,Kolkata,16:50,19:30,02 h 40 m,Non stop,"₹ 2,481",24 Feb 2022
11,Spicejet,New Delhi,Kolkata,20:50,23:00,02 h 10 m,Non stop,"₹ 2,481",24 Feb 2022
12,AirAsia,New Delhi,Kolkata,21:00,23:10,02 h 10 m,Non stop,"₹ 2,481",24 Feb 2022
13,Vistara,New Delhi,Kolkata,06:30,08:35,02 h 05 m,Non stop,"₹ 2,483",24 Feb 2022
14,Vistara,New Delhi,Kolkata,07:30,09:35,02 h 05 m,Non stop,"₹ 2,483",24 Feb 2022
15,Vistara,New Delhi,Kolkata,15:55,18:05,02 h 10 m,Non stop,"₹ 2,483",24 Feb 2022
16,Vistara,New Delhi,Kolkata,17:30,19:35,02 h 05 m,Non stop,"₹ 2,483",24 Feb 2022
17,Vistara,New Delhi,Kolkata,20:30,22:45,02 h 15 m,Non stop,"₹ 2,483",24 Feb 2022
18,AirAsia,New Delhi,Kolkata,16:05,01:35,09 h 30 m,1 stop via Bengaluru,"₹ 2,903",24 Feb 2022
19,Spicejet,New Delhi,Kolkata,17:15,21:30,04 h 15 m,1 stop via Patna,"₹ 3,553",24 Feb 2022
20,Spicejet,New Delhi,Kolkata,07:25,21:30,14 h 05 m,1 stop via Patna,"₹ 3,553",24 Feb 2022
21,Air India,New Delhi,Kolkata,21:25,08:05,10 h 40 m,1 stop via Hyderabad,"₹ 3,610",24 Feb 2022
22,Air India,New Delhi,Kolkata,17:15,08:05,14 h 50 m,1 stop via Hyderabad,"₹ 3,610",24 Feb 2022
23,IndiGo,New Delhi,Kolkata,16:45,22:55,06 h 10 m,1 stop via Bhubaneswar,"₹ 3,677",24 Feb 2022
24,AirAsia,New Delhi,Kolkata,19:00,01:35,06 h 35 m,1 stop via Bengaluru,"₹ 3,877",24 Feb 2022
25,Go First,New Delhi,Kolkata,07:20,12:30,05 h 10 m,1 stop via Hyderabad,"₹ 4,039",24 Feb 2022
26,Air India,New Delhi,Kolkata,20:15,22:20,02 h 05 m,Non stop,"₹ 4,097",24 Feb 2022
27,IndiGo,New Delhi,Kolkata,16:05,20:15,04 h 10 m,1 stop via Patna,"₹ 4,130",24 Feb 2022
28,IndiGo,New Delhi,Kolkata,13:15,20:15,07 h,1 stop via Patna,"₹ 4,130",24 Feb 2022
29,IndiGo,New Delhi,Kolkata,12:20,20:15,07 h 55 m,1 stop via Patna,"₹ 4,130",24 Feb 2022
30,AirAsia,New Delhi,Kolkata,06:20,12:00,05 h 40 m,1 stop via Bagdogra,"₹ 4,345",24 Feb 2022
31,Go First,New Delhi,Kolkata,09:10,16:15,07 h 05 m,1 stop via Varanasi,"₹ 4,394",24 Feb 2022
32,IndiGo,New Delhi,Kolkata,15:30,20:55,05 h 25 m,1 stop via Varanasi,"₹ 4,472",24 Feb 2022
33,Go First,New Delhi,Kolkata,17:00,23:35,06 h 35 m,1 stop via Mumbai,"₹ 4,730",24 Feb 2022
34,Go First,New Delhi,Kolkata,15:30,23:35,08 h 05 m,1 stop via Mumbai,"₹ 4,730",24 Feb 2022
35,Go First,New Delhi,Kolkata,15:00,23:35,08 h 35 m,1 stop via Mumbai,"₹ 4,730",24 Feb 2022
36,IndiGo,New Delhi,Kolkata,07:25,13:10,05 h 45 m,1 stop via Jaipur,"₹ 4,799",24 Feb 2022
37,Vistara,New Delhi,Kolkata,10:20,16:55,06 h 35 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
38,Vistara,New Delhi,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
39,Vistara,New Delhi,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
40,Vistara,New Delhi,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
41,Spicejet,New Delhi,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"₹ 4,898",24 Feb 2022
42,Go First,New Delhi,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"₹ 5,692",24 Feb 2022

In [117]:
frames=[job_new,job_new1]
df2=pd.concat(frames)
df2

,Airline,Source,Destination,Departure,Arrival,Duration,Stops,Price,Date_of_journey
0,Go First,New Delhi,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"₹ 7,424",28 Jan 2022
1,Go First,New Delhi,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"₹ 7,424",28 Jan 2022
2,Go First,New Delhi,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
3,Go First,New Delhi,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
4,Go First,New Delhi,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"₹ 7,424",28 Jan 2022
...,...,...,...,...,...,...,...,...,...
38,Vistara,New Delhi,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
39,Vistara,New Delhi,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
40,Vistara,New Delhi,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"₹ 4,868",24 Feb 2022
41,Spicejet,New Delhi,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"₹ 4,898",24 Feb 2022
42,Go First,New Delhi,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"₹ 5,692",24 Feb 2022

In [104]:
df2.to_csv("flightpricedata2.csv")

In [124]:
columns=['Airline', 'Source', 'Date_of_journey','Destination', 'Departure','Arrival','Duration','Stops','Price']
df5=df2.reindex(columns=columns)
df5

,Airline,Source,Date_of_journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"₹ 7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"₹ 7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"₹ 7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"₹ 7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"₹ 7,424"
...,...,...,...,...,...,...,...,...,...
38,Vistara,New Delhi,24 Feb 2022,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"₹ 4,868"
39,Vistara,New Delhi,24 Feb 2022,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"₹ 4,868"
40,Vistara,New Delhi,24 Feb 2022,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"₹ 4,868"
41,Spicejet,New Delhi,24 Feb 2022,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"₹ 4,898"
42,Go First,New Delhi,24 Feb 2022,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"₹ 5,692"

In [125]:
df5.rename(columns={'Date_of_journey': 'Date of Journey'}, inplace=True)

In [126]:
df5

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"₹ 7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"₹ 7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"₹ 7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"₹ 7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"₹ 7,424"
...,...,...,...,...,...,...,...,...,...
38,Vistara,New Delhi,24 Feb 2022,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,"₹ 4,868"
39,Vistara,New Delhi,24 Feb 2022,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,"₹ 4,868"
40,Vistara,New Delhi,24 Feb 2022,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,"₹ 4,868"
41,Spicejet,New Delhi,24 Feb 2022,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,"₹ 4,898"
42,Go First,New Delhi,24 Feb 2022,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,"₹ 5,692"

In [129]:
df5['sym'],df5['Price1']= df5['Price'].str.split(' ',2).str
df5.drop('Price',axis=1,inplace=True) #as we have to drop the symbol from price column we will split the column and drop the sym

In [130]:
df5

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,sym,Price1
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,₹,"7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,₹,"7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,₹,"7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,₹,"7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,₹,"7,424"
...,...,...,...,...,...,...,...,...,...,...
38,Vistara,New Delhi,24 Feb 2022,Kolkata,09:30,16:55,07 h 25 m,1 stop via Mumbai,₹,"4,868"
39,Vistara,New Delhi,24 Feb 2022,Kolkata,14:20,19:55,05 h 35 m,1 stop via Mumbai,₹,"4,868"
40,Vistara,New Delhi,24 Feb 2022,Kolkata,12:50,19:55,07 h 05 m,1 stop via Mumbai,₹,"4,868"
41,Spicejet,New Delhi,24 Feb 2022,Kolkata,09:25,14:20,04 h 55 m,1 stop via Bagdogra,₹,"4,898"
42,Go First,New Delhi,24 Feb 2022,Kolkata,11:10,15:50,04 h 40 m,1 stop via Bagdogra,₹,"5,692"

In [131]:
df5.drop('sym', axis=1, inplace=True)

In [132]:
df5.head()

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price1
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"7,424"

In [133]:
df5.rename(columns={'Price1': 'Price'}, inplace=True)

In [134]:
df5.head()

,Airline,Source,Date of Journey,Destination,Departure,Arrival,Duration,Stops,Price
0,Go First,New Delhi,28 Jan 2022,Bengaluru,06:00,10:25,04 h 25 m,1 stop via Ahmedabad,"7,424"
1,Go First,New Delhi,28 Jan 2022,Bengaluru,15:00,21:00,06 h,1 stop via Ranchi,"7,424"
2,Go First,New Delhi,28 Jan 2022,Bengaluru,14:20,22:20,08 h,1 stop via Mumbai,"7,424"
3,Go First,New Delhi,28 Jan 2022,Bengaluru,08:00,22:20,14 h 20 m,1 stop via Mumbai,"7,424"
4,Go First,New Delhi,28 Jan 2022,Bengaluru,21:00,09:55,12 h 55 m,1 stop via Mumbai,"7,424"

In [135]:
df5.to_csv("flightpricedatammt111.csv")